{% extends 'base.html.twig' %}

{% block title %}Add images{% endblock %}

{% block body %}

    {% include '/utils/script_multiple_add.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="mx-auto">
                <div class="col-sm">

                    // TODO: need to fix add mutiples images
                    {{ form_start(form) }}
                    {% include '/utils/add_mutiple_images_button.html.twig' %}
                    <button class="btn btn-primary">ADD IMAGE</button>
                    {{ form_end(form) }}

                </div> {# col #}
            </div> {# mx-auto #}
        </div> {# row #}
    </div> {# container #}

{% endblock %}