<ul class="videos"
    data-prototype="{{ form_widget(form.videos.vars.prototype)|e('html_attr') }}"></ul>
<button type="button" class="add_item_link" data-collection-holder-class="videos">Add a video
</button>
