<h3>Images</h3>
<ul class="images"
    data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}"></ul>
<button type="button" class="add_item_link" data-collection-holder-class="images">Add an image
</button>