<div class="row p-4">
    <div class="col">
        <img src="{{ asset(trick.mainImage.pathThumbnail ~ '/' ~ trick.mainImage.name) }}"
             class="card-img-top" alt="{{ trick.mainImage.caption }}">
        <div class="card-body">
        </div> {# card-body #}
    </div> {# col #}
</div> {# row #}
<hr>